//Colors

$background-color: #000000;
$resalt-color:#9a7006;
$resalt-color-darker:#8B6508;
$dark-gray: #1F1F1F;
$text-color: #FFFFFF;
$gray: #555;
$resalt-color-lighter: #cf9d2e;


//Fonts
$font-family: "Roboto", sans-serif;

//Breakpoints
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1025px;