@use 'variables';


$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
$border-radius: 1vh;
$button-radius: 1vh;
$font-size-base: 1rem;
$font-size-small: 1.2rem;

@mixin flex-center($direction: column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.book-summary-container {
  background-color: variables.$dark-gray;
  padding: 2vh;
  border-radius: $border-radius;
  min-width: 15vw;
  max-width: 30vw;
  margin: 3vh auto;
  text-align: center;
}

.book-summary-header {
  font-family: variables.$font-family;
  margin-bottom: 3vh;

  h1 {
    font-size: $font-size-small;
    color: variables.$text-color;
  }
}

.book-summary-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: variables.$font-family;
  font-size: $font-size-base;
  color: variables.$text-color;
  padding: 1vh 0;
}

.book-summary-label {
  font-weight: bold;
}

.car-selected,
.location-selected,
.date-selected {
  flex-grow: 1;
  text-align: right;
  color: #f0f0f0;
  min-height: 2vh;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.pay-now-button {
  width: 12vw;
  height: 5vh;
  background-color: variables.$resalt-color;
  font-size: 2vh;
  font-weight: bold;
  color: variables.$text-color;
  font-family: variables.$font-family;
  border: none;
  cursor: pointer;
  border-radius: $button-radius;
  padding: 1vh 2vh;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: variables.$resalt-color-darker;
  }
}
