@use 'variables';
$font-size: 14px;
$border-radius: 5px;
$input-radius: 15px;
$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

@mixin input-style {
  padding: 5px 10px;
  border-radius: $input-radius;
  font-size: $font-size;
  width: 15vw;
  height: 3.5vh;
  box-shadow: $box-shadow;
  border: 1px solid #ccc;

  &:focus {
    outline: none;
  }
}

@mixin button-style($bg-color, $hover-color) {
  background-color: $bg-color;
  font-weight: bold;
  color: variables.$text-color;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: $border-radius;
  font-size: $font-size;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$resalt-color-darker;
  }
}

.booking-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  gap: 20px;
  font-family: variables.$font-family;

  .booking-bar-title {
    text-align: center;
    color: variables.$text-color;
    font-weight: bold;
    font-size: 2.3vh;
  }

  .booking-bar {
    display: flex;
    align-items: center;
    background-color: variables.$gray;
    padding: 10px;
    border-radius: $border-radius;

    .booking-bar-form {
      display: flex;
      flex-direction: row;
      gap: 5vh;
    }

    .booking-section {
      display: flex;
      flex-direction: column;
      color: variables.$text-color;
      font-size: $font-size;
      font-weight: bold;

      input, select {
        @include input-style;
      }

      select {
        cursor: pointer;
      }

      .label-selector {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        font-family: variables.$font-family;
        margin-bottom: 1vh;
      }
    }

    .book-btn {
      @include button-style(variables.$resalt-color, variables.$resalt-color-darker);
      margin-top: 20%;
      height: 100%;
    }
  }
}