// Variables
$background-color: #222;
$button-bg: #444;
$button-active-bg: #888;
$text-color: white;
$box-bg: #ddd;
$border-radius: 10px;

// Estilo general del cuerpo
body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
}

// Contenedor principal
.car-details-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

// Lista de detalles del coche
.car-details-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

// Caja de detalle individual
.car-details-box {
  background-color: $box-bg;
  padding: 20px;
  margin: 10px;
  border-radius: $border-radius;
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .car-details-box-name {
    color: $background-color;
    font-weight: bold;
  }
}

// Botones de selección
.toggle-buttons {
  display: flex;
  margin-bottom: 20px;
  width: 80%;
}

.toggle-button {
  flex: 1;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  background-color: $button-bg;
  border: 1px solid darken($button-bg, 10%);
  color: $text-color;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &.active {
    background-color: $button-active-bg;
  }
}
