$background-color: gray;
$container-width: 100%;
$container-height: 100%;
$image-section-width: 50%;
$secondary-section-width: 10%;
$secondary-image-height: 30%;
$viewer-height: 500px;
$container-margin-top: 69px;
$gap-size: 10px;
$padding-size: 1%;

@mixin center-flex($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.car-viewer-container {
  @include center-flex(row);
  width: $container-width;
  height: $container-height;
  margin-top: $container-margin-top;

  .principal-image {
    @include center-flex;
    width: $image-section-width;
    height: $viewer-height;
    background-color: $background-color;
    cursor: pointer;
  }

  .secondary-image-section {
    @include center-flex(column);
    padding: $padding-size;
    gap: $gap-size;
    width: $secondary-section-width;
    margin-left: 1%;
    height: $viewer-height;

    .secondary-image {
      @include center-flex;
      width: 100%;
      height: $secondary-image-height;
      background-color: $background-color;
      cursor: pointer;
    }
  }
}
