.carCatalogContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 9%;
}

.carCatalogImage{
  display:flex;
  width: 55%;
  height: 500px;
  background-color: gray;
  cursor:pointer;
}

.carCatalogMenu{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 500px;
  .carCatalogMenuItem{
    display: flex;
    margin-bottom: 20px;
    width:80%;
    height: 300px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    &:hover{
      margin-left: -80px;
      transition: all ease-in-out 300ms;
    }
  }
}
