.catalog-phrase {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.catalog-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  margin-bottom: 1vh;
}
.catalog-card-container a {
  cursor: pointer;
  font-size: 0.75rem;
  text-decoration: none;
  color: black;
}

.catalog-title {
  background-color: #9a7006;
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2vh 4vh;
  width: 10%;
  display: inline-block;
  clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 0% 100%);
}

.catalog-card {
  display: flex;
  flex-direction: row;
  height: 50vh;
  margin: 2vh;
  width: 30%;
  flex: 1;
  transition: all ease-in-out 0.333s;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 2vh;
}
@media (min-width: 1025px) {
  .catalog-card:hover {
    flex-grow: 2;
  }
  .catalog-card:hover .catalog-card-info {
    display: flex;
  }
  .catalog-card:hover .catalog-card-image {
    width: 50%;
  }
}
.catalog-card .catalog-card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 2vh;
}
.catalog-card .catalog-card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.catalog-card .catalog-card-image p {
  font-weight: bold;
  text-align: center;
  color: black;
}
.catalog-card .catalog-card-info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  padding: 4vh;
  text-align: center;
}
.catalog-card .catalog-card-info p {
  margin: 2vh 0;
  color: black;
}
.catalog-card .catalog-card-button {
  display: flex;
  background-color: #9a7006;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 2vh;
  cursor: pointer;
  border-radius: 1vh;
  margin-top: 3vh;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.3s ease;
}
.catalog-card .catalog-card-button:hover {
  background-color: #8B6508;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .catalog-title {
    width: 20%;
  }
  .catalog-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 10px;
  }
  .catalog-card {
    flex-direction: column;
    height: auto;
    width: 30%;
    flex: 0 0 30%;
    margin: 1vh;
    overflow: hidden;
  }
  .catalog-card .catalog-card-image {
    width: 100%;
    height: 250px;
    border-radius: 2vh 2vh 0 0;
  }
  .catalog-card .catalog-card-info {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    padding: 1vh;
    right: auto;
  }
  .catalog-card .catalog-card-info p {
    font-size: 0.9rem;
    margin: 1vh 0;
  }
  .catalog-card .catalog-card-button {
    margin-top: 2vh;
  }
}
@media (max-width: 768px) {
  .catalog-section {
    margin-bottom: 10vh;
    position: relative;
  }
  .catalog-section:not(.active-section) {
    display: none;
  }
  .catalog-section.active-section {
    display: block;
  }
  .catalog-title {
    width: 40%;
    margin-bottom: 2vh;
    z-index: 10;
    position: sticky;
    top: 0;
  }
  .catalog-card-container {
    flex-direction: column;
    margin-top: 2vh;
    width: 100%;
    overflow: visible;
  }
  .catalog-card {
    width: 90%;
    height: 70vh;
    flex-direction: column;
    margin: 5vh auto;
    transform: scale(0.9);
    transition: all 0.5s ease;
  }
  .catalog-card.active {
    opacity: 1;
    transform: scale(1);
  }
  .catalog-card .catalog-card-image {
    width: 100%;
    height: 40%;
    border-radius: 2vh 2vh 0 0;
  }
  .catalog-card .catalog-card-info {
    display: flex;
    position: relative;
    width: 100%;
    height: 60%;
    right: auto;
    padding: 2vh;
  }
}

/*# sourceMappingURL=catalog-section.css.map */
