.catalog-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  a {
    cursor: pointer;
    font-size: 0.75rem;
    text-decoration: none;
    color: black;
  }
}

.catalog-card {
  display: flex;
  flex-direction: row;
  height: 400px;
  margin: 15px;
  width: 30%;
  flex: 1;
  transition: all ease-in-out 0.333s;
  position: relative;
  overflow: hidden;

  &:hover {
    flex-grow: 2;

    .catalog-card-info {
      display: flex;
    }

    .catalog-card-image {
      width: 50%;
    }
  }

  .catalog-card-image {
    height: 100%;
    width: 80%;
    background-image: url("https://dbackdrop.es/cdn/shop/products/unnamed_1200x1200.png?v=1628839358");
    background-position: center;
    background-size: cover;
  }

  .catalog-card-info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(gray, 0.9);
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
  }

  .catalog-card-button {
    display: flex;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 10%;
    cursor: pointer;
  }
}
