@use 'variables';

$header-height: 11vh;
$logo-size: 12vh;
$font-size: 1.2rem;
$margin-spacing: 5vh;
$section-width: 20%;

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.main-nav {
  @include flex-center(row);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 100;

  a {
    cursor: pointer;
    color: variables.$text-color;
    margin: $margin-spacing;
    font-size: $font-size;
    text-decoration: none;
    font-weight: bold;
    font-family: variables.$font-family;
  }
}

.logo-container {
  display: flex;
  align-items: flex-start;
  left: 0;
  width: $section-width;

  img {
    width: $logo-size;
    height: $logo-size;
    object-fit: contain;
  }
}

.navigation-menu {
  @include flex-center(row);
  list-style: none;
  padding: 0;
  margin: 0;

  .navigation-item {
    margin: 0 $margin-spacing;
  }
}

.auth-links {
  @include flex-center(row);
  width: $section-width;

  a {
    margin: 5px;
  }

  span {
    font-size: $font-size;
    font-weight: bold;
    color: variables.$text-color;
  }
}

.mobile-nav-toggle {
  display: none;
  cursor: pointer;
  z-index: 200;
  margin-right: 20px;
}

.hamburger {
  width: 30px;
  height: 25px;
  position: relative;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: variables.$text-color;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  top: $header-height;
  left: 0;
  width: 100%;
  height: calc(100vh - #{$header-height});
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.mobile-navigation-menu {
  @include flex-center(column);
  backdrop-filter: blur(10px);
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;

  .mobile-navigation-item {
    margin: 15px 0;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
    a {
      font-size: 1.5rem;
      display: inline-block;
    }
  }

  .auth-mobile {
    margin-top: 30px;

    span {
      font-size: $font-size;
      font-weight: bold;
      color: variables.$text-color;
    }
  }
}

@media (max-width: variables.$tablet-breakpoint) and (min-width: variables.$mobile-breakpoint + 1px) {
  .main-nav {
    justify-content: space-between;
    padding: 0 10px;

    a {
      margin: 0;
      font-size: 0.87rem;
    }
  }

  .logo-container {
    width: 15%;
    justify-content: center;

    img {
      width: 7vh;
      height: 7vh;
    }
  }

  .navigation-menu {
    width: 60%;
    justify-content: space-around;

    .navigation-item {
      margin: 0 1vh;
    }
  }

  .auth-links {
    width: 15%;
    justify-content: center;

    a {
      margin: 0 3px;
    }

    span {
      font-size: 0.9rem;
      margin: 0 3px;
    }
  }
}

@media (max-width: variables.$mobile-breakpoint) {
  .navigation-menu,
  .auth-links {
    display: none;
  }

  .logo-container {
    width: auto;
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .mobile-nav {
    display: block;
  }

  .main-nav {
    justify-content: space-between;
  }
}