$header-bg-color: gray;
$text-color: black;
$header-height: 85px;
$logo-size: 120px;
$font-size: 1.2rem;
$margin-spacing: 5px;
$section-width: 20%;

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $header-height;
  align-items: center;
  background-color: $header-bg-color;
  position: fixed;
  top: 0;

  a,
  p {
    cursor: pointer;
    margin: $margin-spacing;
    font-size: $font-size;
    text-decoration: none;
    color: $text-color;
  }
}

.header-section {
  @include flex-center(row);
  width: $section-width;
  height: 100%;
}

.header-logo {
  @extend .header-section;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-register {
  @include flex-center(row);
  width: $section-width;
}

.logo-image {
  height: $logo-size;
  width: $logo-size;
}
