.back-button {
  padding: 10px 20px;
  color: black;
  border: none;
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}
h1 {
  text-align: center;
}
h2 {
  color: #333;
}
p {
  margin-bottom: 20px;
}
.content {
  max-width: 800px;
  margin: 0 auto;
}
