.sideTextSectionContainer{
  display:flex;
  flex-direction: row;
  width: 100vw;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.sideTextSectionText{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.sideTextSectionImage{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 500px;
  background-color: lightgray;
}