.team-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 80%;
  overflow: hidden;
  margin: 20px;
  position: relative;
}

.team-carousel {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.team-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-image.active {
 display:flex;
}
