<section class="bar-car-details-booking-container">
  <div class="toggle-buttons">
    <button class="toggle-btn active" id="car-details-btn" data-target="car-details-content">Car Details</button>
    <button class="toggle-btn" id="book-now-btn" data-target="book-now-content">Book now</button>
  </div>

  <div class="content-bar-car-details-booking">
    <div class="content-bar active" id="car-details-content" data-include="partials/car-details-bar.html"></div>
    <div class="content-bar" id="book-now-content" data-include="partials/booking-bar-2.html"></div>
  </div>
</section>
