<section class="book-summary-container">
  <div class="book-summary-header">
    <h1>Book Summary</h1>
  </div>
  <div class="book-summary-details">
    <div class="book-summary-item">
      <p class="book-summary-label">Car Selected:</p><p class="car-selected">Chevrolet Camaro SS1</p>
    </div>

    <div class="book-summary-item">
      <p class="book-summary-label">Location:</p><p class="location-selected">Las Palmas de Gran Canaria</p>
    </div>

    <div class="book-summary-item">
      <p class="book-summary-label">Date:</p><p class="date-selected">10-08-2025/15-08-2025</p>
    </div>

    <div class="btn-container">
      <button class="pay-now-button">Continue</button>
    </div>
  </div>
</section>