<section class="booking-bar-container">
  <div class="booking-bar-title">
    <h1>Book now!</h1>
  </div>

  <div class="booking-bar">
    <div class="booking-section">
      <p class="label-selector">Choose a location!</p>
      <input id="location-selector" type="text" placeholder="Enter a location">
    </div>

    <div class="booking-section">
      <p class="label-selector">Pick up date!</p>
      <input id="pickup-date-selector" type="date" placeholder="Enter a date">
    </div>

    <div class="booking-section">
      <p class="label-selector">Return date!</p>
      <input id="return-date-selector" type="date" placeholder="Enter a date">
    </div>

    <div class="booking-section">
      <button class="book-btn" type="button">Book now!</button>
    </div>
  </div>
</section>