<div class="car-catalog-container">
    <div class="car-catalog-image">
        <img class="car-image" src="" alt="Loading Image"/>
    </div>

    <ul class="car-catalog-menu">
        <li class="car-catalog-menu-item">
            <a class="car-catalog-menu-item-element" href="">70's Catalog</a>
        </li>
        <li class="car-catalog-menu-item">
            <a class="car-catalog-menu-item-element" href="">80's Catalog</a>
        </li>
        <li class="car-catalog-menu-item">
            <a class="car-catalog-menu-item-element" href="">90's Catalog</a>
        </li>
    </ul>
</div>
