<div class="car-viewer-container">
    <div class="principal-image">
        <img src="/RetroRenting/public/img/cars/70/chevrolet-camaro-70/full-frontal.jpg" alt="Imagen Principal" id="main-image" />
    </div>
    <div class="secondary-image-section">
        <div class="secondary-image">
            <img src="/RetroRenting/public/img/cars/70/chevrolet-camaro-70/full-back.jpg" alt="Imagen Secundaria 1" class="secondary-img" />
        </div>
        <div class="secondary-image">
            <img src="/RetroRenting/public/img/cars/70/chevrolet-camaro-70/rotated-frontal.jpg" alt="Imagen Secundaria 2" class="secondary-img" />
        </div>
        <div class="secondary-image">
            <img src="/RetroRenting/public/img/cars/70/chevrolet-camaro-70/side-profile.jpg" alt="Imagen Secundaria 3" class="secondary-img" />
        </div>
    </div>
</div>
