<section class="car-catalog-container">
    <div class="car-catalog-image">
        <img class="car-image" src="" alt="Loading Image"/>

        <div class="mobile-controls">
            <button class="prev-btn" aria-label="Previous car">&lt;</button>
            <button class="next-btn" aria-label="Next car">&gt;</button>
        </div>
    </div>


    <ul class="car-catalog-menu desktop-menu">
        <li class="car-catalog-menu-item">
            <a class="car-catalog-menu-item-element" href="/RetroRenting/views/catalog.html#70">70's Catalog</a>
        </li>
        <li class="car-catalog-menu-item">
            <a class="car-catalog-menu-item-element" href="/RetroRenting/views/catalog.html#80">80's Catalog</a>
        </li>
        <li class="car-catalog-menu-item">
            <a class="car-catalog-menu-item-element" href="/RetroRenting/views/catalog.html#90">90's Catalog</a>
        </li>
    </ul>

    <div class="mobile-menu">
        <a class="mobile-catalog-link" href="/RetroRenting/views/catalog.html#70">70's Catalog</a>
    </div>
</section>