<section class="CatalogCardContainer">
    <div class="CatalogCard">
        <div class="CatalogCardImage"></div>
        <div class="CatalogCardInfo">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="CatalogCardButton">Button</div>
        </div>
    </div>
    <div class="CatalogCard">
        <div class="CatalogCardImage"></div>
        <div class="CatalogCardInfo">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="CatalogCardButton">Button</div>
        </div>
    </div>
    <div class="CatalogCard">
        <div class="CatalogCardImage"></div>
        <div class="CatalogCardInfo">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="CatalogCardButton">Button</div>
        </div>
    </div>
</section>