<section class="CatalogCardContainer">
    <div class="CatalogCard">
        <div class="CatalogCardImage"></div>
        <div class="CatalogCardInfo">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="CatalogCardButton"><a href="/RetroRenting/views/CarPage.html">Button</a></div>
        </div>
    </div>
    <div class="CatalogCard">
        <div class="CatalogCardImage"></div>
        <div class="CatalogCardInfo">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="CatalogCardButton"><a href="/RetroRenting/views/CarPage.html">Button</a></div>
        </div>
    </div>
    <div class="CatalogCard">
        <div class="CatalogCardImage"></div>
        <div class="CatalogCardInfo">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="CatalogCardButton"><a href="/RetroRenting/views/CarPage.html">Button</a></div>
        </div>
    </div>
</section>