<section class="catalog-card-container">
    <div class="catalog-card">
        <div class="catalog-card-image"></div>
        <div class="catalog-card-info">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="catalog-card-button">
                <a href="/RetroRenting/views/car-page.html">Button</a>
            </div>
        </div>
    </div>
    <div class="catalog-card">
        <div class="catalog-card-image"></div>
        <div class="catalog-card-info">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="catalog-card-button">
                <a href="/RetroRenting/views/car-page.html">Button</a>
            </div>
        </div>
    </div>
    <div class="catalog-card">
        <div class="catalog-card-image"></div>
        <div class="catalog-card-info">
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <div class="catalog-card-button">
                <a href="/RetroRenting/views/car-page.html">Button</a>
            </div>
        </div>
    </div>
</section>
