<footer class="site-footer">
    <nav class="footer-nav" aria-label="Footer Navigation">
        <ul class="footer-menu">
            <li class="footer-item">
                <a href="../views/footer-pages/privacy-policy.html">Policy</a>
            </li>
            <li class="separator-bar"> | </li>
            <li class="footer-item">
                <a href="../views/footer-pages/terms-and-conditions.html">Terms</a>
            </li>
            <li class="separator-bar"> | </li>
            <li class="footer-item">
                <a href="../views/footer-pages/ad-choices.html">Ad Choices</a>
            </li>
            <li class="separator-bar"> | </li>
            <li class="footer-item">
                <a href="../views/footer-pages/accessibility.html">Accessibility</a>
            </li>
        </ul>
    </nav>
</footer>
