<nav class="header">

    <div class="headerLogo">
        <!--TODO cambiar para buscar las imagenes por un json-->
    </div>

    <div class="headerSection"><a href="/RetroRenting/views/index.html">Home</a></div>
    <div class="headerSection"><a href="/RetroRenting/views/Catalog.html">Catalog</a></div>
    <div class="headerSection"><a href="/RetroRenting/views/AboutUs.html">About Us</a></div>

    <div class="headerRegister">
        <p>Login </p><span>/</span><p>Sign up</p>
    </div>

</nav>