<nav class="main-nav" aria-label="Main Navigation">
    <div class="logo-container">
        <a href="/RetroRenting/views/index.html">
            <img class="logo-image" src="" alt="Loading Image"/>
        </a>
    </div>

    <ul class="navigation-menu">
        <li class="navigation-item">
            <a href="/RetroRenting/views/index.html">Home</a>
        </li>
        <li class="navigation-item">
            <a href="/RetroRenting/views/catalog.html">Catalog</a>
        </li>
        <li class="navigation-item">
            <a href="/RetroRenting/views/about-us.html">About Us</a>
        </li>
    </ul>

    <div class="auth-links">
        <a href="/RetroRenting/views/login.html">Login</a>
        <span>/</span>
        <a href="/RetroRenting/views/register.html">Sign up</a>
    </div>
</nav>
