<nav class="main-nav" aria-label="Main Navigation">
    <div class="logo-container">
        <a href="/RetroRenting/views/index.html">
            <img class="logo-image" src="" alt="Loading Image"/>
        </a>
    </div>

    <ul class="navigation-menu">
        <li class="navigation-item">
            <a href="/RetroRenting/views/index.html">Home</a>
        </li>
        <li class="navigation-item">
            <a href="/RetroRenting/views/catalog.html">Catalog</a>
        </li>
        <li class="navigation-item">
            <a href="/RetroRenting/views/about-us.html">About Us</a>
        </li>
    </ul>

    <div class="auth-links">
        <a href="/RetroRenting/views/login.html">Login</a>
        <span>/</span>
        <a href="/RetroRenting/views/register.html">Sign up</a>
    </div>

    <div class="mobile-nav-toggle">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="mobile-nav">
        <ul class="mobile-navigation-menu">
            <li class="mobile-navigation-item auth-mobile">
                <a href="/RetroRenting/views/login.html">Login</a>
                <span>/</span>
                <a href="/RetroRenting/views/register.html">Sign up</a>
            </li>
            <li class="mobile-navigation-item">
                <a href="/RetroRenting/views/index.html">Home</a>
            </li>
            <li class="mobile-navigation-item">
                <a href="/RetroRenting/views/catalog.html">Catalog</a>
            </li>
            <li class="mobile-navigation-item">
                <a href="/RetroRenting/views/about-us.html">About Us</a>
            </li>
        </ul>
    </div>
</nav>