<section class="main-driver-form">
  <div class="main-driver-form-container">
    <div class="main-driver-header">
      <h2>INTRODUCE MAIN DRIVER INFORMATION</h2>
    </div>

    <div class="input-container">
      <form class="main-driver-form" action="/login" method="post">
        <div class="name-group">
          <input type="text" name="first-name" placeholder="Name" required />
          <input type="text" name="last-name" placeholder="Surname" required />
        </div>

        <input type="email" name="email" placeholder="Email" required />

        <div class="phone-group">
          <select id="country-phone-selector" required>
            <option value="ES" selected>ES</option>
            <option value="US">US</option>
            <option value="FR">FR</option>
          </select>
          <input type="tel" name="phone" placeholder="Phone Number" required />
        </div>

        <select id="country-selector" required>
          <option value="">Country of Residence</option>
          <option value="ES">Spain</option>
          <option value="US">United States</option>
          <option value="FR">France</option>
        </select>

        <button class="book-btn" type="submit">Book now!</button>
      </form>
    </div>
  </div>
</section>
