<div class="sideTextSectionContainer">
    <div class="sideTextSectionText">
        <h2>Who are we?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised</p>
    </div>
    <div class="sideTextSectionImage">
        <img src="../../assets/images/sideTextSectionImage.jpg" alt="">
    </div>
</div>