
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/scss/team-carousel.css">
    <script defer src="../../public/js/team-carousel.js"></script>
</head>
<body>
<div class="team-carousel-container">
    <div class="team-carousel">
        <div class="team-image">
            <img src="/RetroRenting/public/img/Logo.png" alt="Descripción de la imagen 1">
        </div>
        <div class="team-image active">
            <img src="/RetroRenting/public/img/login.jpg" alt="Descripción de la imagen 2">
        </div>
        <div class="team-image">
            <img src="/RetroRenting/public/img/Logo.png" alt="Descripción de la imagen 3">
        </div>
    </div>
</div>
</body>
</html>