<app-header>
</app-header>
<div class="content">
  <h2>Your Bookings</h2>
  <div *ngIf="bookings.length === 0">
    <h3>No bookings found.</h3>
  </div>

  <div *ngFor="let b of bookings" class="booking-card">
    <h3>{{ b.booking.car }} — {{ b.booking.location }}</h3>
    <p><strong>From:</strong> {{ b.booking.pickupDate }} to {{ b.booking.returnDate }}</p>
    <p><strong>Driver:</strong> {{ b.driver.name }} {{ b.driver.surname }}</p>
    <p><strong>Email:</strong> {{ b.driver.email }} — <strong>Phone:</strong> {{ b.driver.phone }}</p>
  </div>
</div>
