<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Learn more about RetroRenting, the ultimate platform for classic car rentals. Meet our passionate team, explore our mission, and read customer reviews. Drive the past into the future!">
        <title>RetroRenting | About Us</title>
        <script type="module" defer src="../public/js/aboutUs.js"></script>
        <link rel="stylesheet" href="../public/scss/about-us.css">
    </head>
    <body>
        <header data-include="partials/header.html"></header>
        <main class="content">
            <section data-include="partials/side-text-section.html" class="content-items"></section>
            <section data-include="partials/center-text-section.html"></section>
            <section data-include="partials/reviews.html" class="content-items"></section>
            <section data-include="partials/side-text-section.html" class="content-items"></section>
            <h2 class="our-team-title">Our Team</h2>
            <section data-include="partials/team-carroussel.html" class="content-items"></section>
            <section data-include="partials/center-text-section.html"></section>
            <section class ="center-align">
                <button class="general-button">Send Email</button>
            </section>
        </main>
        <footer data-include="partials/footer.html"></footer>
    </body>
</html>