<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RetroRenting</title>
    <script type="module" defer src="../public/js/aboutUs.js"></script>
    <link rel="stylesheet" href="../public/scss/style.css">
</head>
<body>
    <div data-include="partials/header.html"></div>
    <div class = "content">
        <div data-include="partials/side-text-section.html" class="content-items"></div>
        <div data-include="partials/center-text-section.html"></div>
        <div data-include="partials/reviews.html" class="content-items"></div>
        <div data-include="partials/side-text-section.html" class="content-items"></div>
        <h2 style="text-align: center; margin-top: 10vh;">Our Team</h2>
        <div data-include="partials/team-carroussel.html" class="content-items"></div>
        <div data-include="partials/center-text-section.html"></div>
        <div class ="center-align"><button class="general-button">Send Email</button></div>
    </div>
    <div data-include="partials/footer.html"></div>

</body>
</html>