<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RetroRenting</title>
    <script type="module" defer src="../public/js/index.js"></script>
    <link rel="stylesheet" href="../public/scss/style.css">
  </head>
  <body>
    <div data-include="partials/header.html"></div>
    <div data-include="partials/process-booking-2.html"></div>
    <div data-include="partials/main-driver-form.html"></div>
    <div data-include="partials/footer.html"></div>
  </body>
</html>