<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Explore detailed specs, images, and booking options for our classic cars at RetroRenting. Find the perfect vintage ride and reserve it today!">
        <title>RetroRenting | Car Page</title>
        <script type="module" defer src="../public/js/carPage.js"></script>
        <link rel="stylesheet" href="../public/scss/style.css">
    </head>
    <body>
        <header data-include="partials/header.html"></header>
        <main class="content">
            <section data-include="partials/car-viewer.html"></section>
            <p class="car-name">Car Name</p>
            <section data-include="partials/bar-car-details-booking.html"></section>
        </main>
        <footer data-include="partials/footer.html"></footer>
    </body>
</html>