<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Your RetroRenting car reservation is confirmed! Review your booking details, rental terms, and payment summary. Get ready for your vintage ride!">
    <title>RetroRenting | Car Reservation Confirmation</title>
    <script type="module" defer src="../public/js/carReservationConfirm.js"></script>
    <link rel="stylesheet" href="../public/scss/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header data-include="partials/header.html"></header>
    <main class="content">
      <section data-include="partials/process-booking.html"></section>
      <section data-include="partials/book-summary.html" class="book-summary-container"></section>
    </main>
    <footer data-include="partials/footer.html"></footer>
  </body>
</html>