<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Get all the details about your car reservation at RetroRenting. Review booking information, rental terms, and vehicle availability. Plan your vintage car experience now!">
      <title>RetroRenting | Car Reservation Information</title>
      <script type="module" defer src="../public/js/carReservationInformation.js"></script>
      <link rel="stylesheet" href="../public/scss/style.css">
        <link rel="icon" href="../public/img/logo.png" type="image/x-icon">
    </head>
    <body>
      <header data-include="partials/header.html"></header>
      <main class="content">
          <section data-include="partials/process-booking-2.html"></section>
        <section data-include="partials/main-driver-form.html"></section>
      </main>
      <footer data-include="partials/footer.html"></footer>
    </body>
</html>