<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RetroRenting</title>
    <script type="module" defer src="../public/js/carPage.js"></script>
    <link rel="stylesheet" href="../public/scss/style.css">
</head>
<body>
    <div data-include="partials/header.html"></div>
    <div class="content">
        <div data-include="partials/car-viewer.html"></div>
        <section class="bar-car-details-booking-container">
            <div class="toggle-buttons">
                <button class="toggle-button active" id="car-details-btn">Car Details</button>
                <button class="toggle-button" id="book-now-btn">Book now</button>
            </div>

            <div class="content-section">
                <div class="content active" id="car-details-content" data-include="partials/car-details-bar.html"></div>
                <div class="content" id="book-now-content" data-include="partials/booking-bar-2.html"></div>
            </div>
        </section>

    </div>
    <div data-include="partials/footer.html"></div>
</body>
</html>