<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RetroRenting</title>
    <script type="module" defer src="../public/js/carPage.js"></script>
    <link rel="stylesheet" href="../public/scss/style.css">
</head>
<body>
    <div data-include="partials/header.html"></div>
    <div class="content">
        <div data-include="partials/car-viewer.html"></div>
        <!--<div data-include="partials/car-details.html"></div>-->
        <div data-include="partials/car-details-bar.html"></div>
        <div data-include="partials/booking-bar-2.html"></div>
    </div>
    <div data-include="partials/footer.html"></div>
</body>
</html>