<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RetroRenting</title>
    <script type="module" defer src="../public/js/catalog.js"></script>
    <link rel="stylesheet" href="../public/scss/catalog.css">
</head>
<body>
    <header data-include="partials/header.html"></header>
    <main class="content">
        <h1 class="catalog-phrase">Discover Our Retro Cars</h1>
        <section data-include="partials/catalog-section.html" id="catalog-container"></section>
    </main>
    <footer data-include="partials/footer.html"></footer>
</body>
</html>