<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Explore the RetroRenting catalog and discover classic cars from the 70s, 80s, and 90s. Rent vintage vehicles and experience nostalgia on the road!">
        <title>RetroRenting | Catalog </title>
        <script type="module" defer src="../public/js/catalog.js"></script>
        <link rel="stylesheet" href="../public/scss/catalog.css">
    </head>
    <body>
        <header data-include="partials/header.html"></header>
        <main class="content">
            <h1 class="center-align">Discover Our Retro Cars</h1>
            <section data-include="partials/catalog-section.html" id="catalog-container"></section>
        </main>
        <footer data-include="partials/footer.html"></footer>
    </body>
</html>