<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RetroRenting</title>
    <script type="module" defer src="../public/js/catalog.js"></script>
    <link rel="stylesheet" href="../public/scss/style.css">
</head>
<body>
    <div data-include="partials/header.html"></div>
    <div class="content">
        <h1 style="text-align:center">Discover Our Retro Cars</h1>
        <div data-include="partials/catalog-section.html" id="catalog-container"></div>
    </div>
    <div data-include="partials/footer.html"></div>
</body>
</html>