<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RetroRenting</title>
        <script type="module" defer src="../public/js/index.js"></script>
        <link rel="stylesheet" href="../public/scss/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header data-include="partials/header.html"></header>
        <main class="content">
            <section data-include="partials/car-catalog.html"></section>
            <section data-include="partials/booking-bar.html"></section>
        </main>
        <footer data-include="partials/footer.html"></footer>
    </body>
</html>