<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RetroRenting</title>
    <link rel="stylesheet" href="../public/scss/login.css">
</head>
<body>
    <div class="aside-image">
        <img src="../public/img/login.jpg" alt="">
    </div>

    <div class="login-form-container">
        <div class="login-logo">
            <img src="../public/img/Logo.png" alt="Logo">
        </div>
        <h1>Sign in!</h1>
        <form class="login-form" action="/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button class="login-btn" type="submit">Sign in</button>
        </form>
        <p id="sign-up-link">Don´t have an account? <a href="" id="sign-up-btn">Sign up</a></p>
    </div>
</body>
</html>