@use "../../../theme/variables";

$input-border-color: #ccc;
$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
$border-radius: 5px;
$button-radius: 5px;
$input-width: 100%;
$input-height: 6vh;
$font-size-base: 1rem;
$font-size-small: 1.2rem;

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#main-driver-form-container {
  background-color: variables.$dark-gray;
  padding: 4vh;
  border-radius: $border-radius;
  height: 90%;
  width: 20%;
  margin: 6vh auto;
  box-shadow: $box-shadow;
}

.main-driver-header {
  text-align: center;
  font-family: variables.$font-family;
  margin-bottom: 5vh;

  h2 {
    font-size: $font-size-small;
    color: variables.$text-color;
  }
}

.input-container {
  @include flex-center(column);
  width: 100%;

  .main-driver-form {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    .name-group {
      display: flex;
      gap: 10px;
      width: 100%;

      ion-input {
        --padding-start: 10px;
        --padding-end: 10px;
        --border-radius: #{$border-radius};
        --background: white;
        --border: 1px solid #{$input-border-color};
        box-shadow: #{$box-shadow};
        font-family: variables.$font-family;
      }
    }

    ion-input,
    ion-select {
      color: black;
      --padding-start: 10px;
      --padding-end: 10px;
      --border-radius: #{$border-radius};
      --background: white;
      --border: 1px solid #{$input-border-color};
      box-shadow: #{$box-shadow};
      font-family: variables.$font-family;
    }

    .phone-group {
      display: flex;
      width: 100%;
      gap: 5px;

      ion-select {
        width: 30%;
        --border-radius: #{$border-radius};
      }

      ion-input {
        width: 70%;
      }
    }

    .book-btn {
      --background: #{variables.$resalt-color};
      --color: #{variables.$text-color};
      --border-radius: #{$button-radius};
      width: 125px;
      height: 50px;
      font-size: 15px;
      font-weight: bold;
      font-family: variables.$font-family;
      margin-top: 20px;
      --background-hover: #{variables.$resalt-color-darker};
    }

    .btn-container {
      display: flex;
      justify-content: center;
    }
  }
}

.error-list {
  color: red;
  font-size: 0.8rem;
  font-family: variables.$font-family;
  border: 1px solid red;
  border-radius: 5px;
  padding: 4px;
  margin-top: 1vh;
  list-style-type: none;
}

ion-input.invalid,
ion-select.invalid {
  --border: 2px solid #e53935;
  --background: #fff6f6;
}

@media (max-width: 480px) {
  #main-driver-form-container {
    width: 80%;
    margin: 3vh auto;
  }

  .main-driver-form {
    .phone-group {
      ion-select {
        width: 37%;
        padding: 0;
      }

      ion-input {
        width: 63%;
      }
    }
  }
}

@media (min-width: 480px) and (max-width: variables.$tablet-breakpoint) {
  #main-driver-form-container {
    width: 60%;
  }
}
