<ion-content>
  <aside class="aside-image">
    <img class="background-aside-image"
         [ngSrc]="asideImgUrl"
         alt="Background Image"
         width="1024"
         height="768">
  </aside>

  <main class="login-container">
    <header class="login-header">
      <div class="login-logo">
        <img class="logo-image"
             [ngSrc]="logoUrl"
             alt="Logo Image"
             width="1024"
             height="768">
      </div>
      <h1>Sign in!</h1>
    </header>

    <nav aria-label="Go back">
      <a id="back-link"
         href="#"
         onclick="history.back(); return false"> ← Go back</a>
    </nav>

    <section class="login-form-container">
      <form class="login-form"
            id="login-form"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">

        <ion-input type="text"
                   id="email"
                   name="email"
                   formControlName="email"
                   autocomplete="off"
                   placeholder="Email"
                   required
                   [class.invalid]="formErrors?.includes('email')"></ion-input>

        <ion-input type="password"
                   id="password"
                   name="password"
                   formControlName="password"
                   autocomplete="current-password"
                   placeholder="Password"
                   required
                   [class.invalid]="formErrors?.includes('password')"></ion-input>

        <ion-button class="login-btn"
                    type="submit"
                    fill="solid">Sign in
        </ion-button>
      </form>
    </section>

    <div *ngIf="formErrors.length > 0" class="error-list">
      <ion-list>
        <ion-item *ngFor="let error of formErrors" lines="none">
          {{ validationService.getErrorMessage(error) }}
        </ion-item>
      </ion-list>
    </div>

    <footer class="login-links">
      <p id="sign-up-link">Don’t have an account? <a routerLink="/register" id="sign-up-btn">Sign up</a></p>
      <p id="reemail-link">Forgot your password? <a routerLink="/reset-password" id="reemail-btn">Send email</a></p>
    </footer>
  </main>
</ion-content>
