@charset "UTF-8";
@use "../../../theme/variables";


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vh;
  width: 100%;
  margin: 5vh auto;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 40vh;
  background-color: variables.$resalt-color;
  color: white;
  text-align: center;
  padding: 5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card p {
  padding: 3vh;
}

.profile-pic {
  width: 6vw;
  height: 12vh;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
  margin-bottom: 2vh;
}

.stars {
  color: gold;
  font-size: 1.5rem;
}

@media (max-width: variables.$tablet-breakpoint) and (min-width: variables.$mobile-breakpoint + 1) {
  .container {
    font-size: 1.3rem;
  }
  .card {
    width: 30vw;
    height: 45vh;
  }

  .profile-pic {
    width: 8vw;
    height: 8vw;
  }
}

@media (max-width: variables.$mobile-breakpoint) {
  .container {
    font-size: 1.3rem;
  }

  .reviews {
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 0;
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  .card {
    min-width: 90%;
    width: 90%;
    height: 50vh;
    margin: 0 5vw;
    flex-shrink: 0;
  }

  .profile-pic {
    width: 15vw;
    height: 15vw;
  }
}
