@use "../../../theme/variables";


.center-align{display:flex; width:100%; justify-content: center; align-items: center;}

.general-button{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: variables.$resalt-color;
  color: variables.$text-color;
  width: 20%;
  font-family: variables.$font-family;
  @media(max-width:variables.$tablet-breakpoint) { font-size: 1.3rem;   width: 40%;}
}

.our-team-title {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 3vh;
  font-family: variables.$font-family;
  @media(max-width:variables.$tablet-breakpoint) { font-size: 1.75rem;}
}
