<app-header></app-header>

<app-side-text-section sectionKey="whoAreWe"></app-side-text-section>

<app-center-text-section sectionKey="philosophy"></app-center-text-section>


<app-reviews></app-reviews>

<app-side-text-section sectionKey="ourService"></app-side-text-section>


<h2 class="our-team-title">Our Team</h2>

<app-our-team></app-our-team>

<app-center-text-section sectionKey="contact"></app-center-text-section>

<section class ="center-align">
  <button class="general-button">Send Email</button>
</section>

<app-footer></app-footer>
