@use "../../../theme/variables";


.center-align{display:flex; width:100%; justify-content: center; align-items: center;}

.general-button {
  --background: #{variables.$resalt-color};
  --color: #{variables.$text-color};
  --border-radius: 5px;
  font-family: #{variables.$font-family};
  font-weight: bold;
  text-transform: none;
  --background-hover: #{variables.$resalt-color-darker};
}

.our-team-title {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 3vh;
  font-family: variables.$font-family;
  @media(max-width:variables.$tablet-breakpoint) { font-size: 1.75rem;}
}
