/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use './theme/variables';
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';



$margin: 0;
$padding: 0;
$box-sizing: border-box;
$full-width: 100%;
$full-height: 100%;

@mixin reset {
  margin: $margin;
  padding: $padding;
  box-sizing: $box-sizing;
}

* {
  @include reset;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: $full-width;
  height: $full-height;
  background: variables.$background-color;
  color: variables.$text-color;
  font-family: variables.$font-family;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.center-align{display:flex; width:100%; justify-content: center; align-items: center; margin-top:4vh;}

.general-button{
  display:flex;
  --background: #{variables.$resalt-color};
  --color: #{variables.$text-color};
  --border-radius: 5px;
  font-family: #{variables.$font-family};
  font-weight: bold;
  text-transform: none;
  --background-hover: #{variables.$resalt-color-darker};
  width: 10%;
}

.car-name{
  display:flex;
  margin: 4%;
  font-size: 3rem;
  font-weight: bold;
  color: variables.$text-color;
}

ion-content {
  background-color: variables.$background-color;
}

ion-content::part(scroll) {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

